{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/logo.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{post.title}}</h1>
            <h2 class="subheading">{{post.subtitle}}</h2>
            <span class="meta">Posted by

              <!-- Changed from post.author as post.author is now a User object. -->
              <a href="#">{{post.author.name}}</a>
              on {{post.date.strftime("%B %d, %Y")}}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {{ post.body|safe }}
          <hr>

          <!-- <h1>Read Next</h1> -->
          <article class="blog-post mt-5">
            <h3 class="about-heading">Read Next</h3>
            <br>
            {% for post in all_posts %}
              <div class="card mb-3 card-body" style="border-radius: 1rem;">
                <div class="media">
                  <img class='align-self-start mr-3 rounded-3' src="{{post.img_url}}" alt="Generic placeholder image">
                    <div class="post-preview">
                      <a href="{{ url_for('posts.show_purpose_post', purpose_post_id=post.id) }}">
                        <h2 class="about-title post-title">
                          {{post.title}}
                        </h2>
                        <h3 class="about-subtitle post-subtitle">
                          {{post.subtitle}}
                        </h3>
                      </a>
                      <p class="post-meta">Posted by
            
                        <a href="#">{{post.author.name}}</a>
                        on {{post.date.strftime("%B %d, %Y")}}
                      
                      </p>
                    </div>
                </div>  
              </div>  
            {% endfor %}



          <hr>

  <!-- If user id is 1 then they can see the Edit Post button -->
          {% if current_user.id ==1: %}
            <div class="clearfix">
                  <a class="btn btn-primary float-right" href="{{url_for('posts.edit_newsletter', newsletter_id=post.id)}}">Edit Post</a>
            </div>
          {% endif %}



    <!-- Comments Area -->
            
        <form method="POST" action="">
          {{ ckeditor.load() }}
          {{ ckeditor.config(name="comment") }}
          {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
        </form>
        
          <div class="col-lg-8 col-md-10 mx-auto comment">
              {% for comment in post.comments: %}
              <ul class="commentList">
                <li>
                    <div class="commenterImage">
                      <img src="{{ comment.comment_author.email | gravatar }}"/>
                    </div>
                    <div class="commentText">
                      <p>{{ comment.text|safe }}</p> 
                      <span class="date sub-text">{{ comment.comment_author.name }}</span>
                    </div>
                </li>
              </ul>
              {% endfor %}
          </div>


          </div>
      </div>
    </div>
  </article>

  <hr>

{% include "footer.html" %}
{% endblock %}